.vk-message {
  --vk-message-bg-color: blue;
  --vk-message-border-color: yellow;
  --vk-message-padding: 15px 19px;
  --vk-message-close-size: 16px;
  --vk-message-close-icon-color: red;
  --vk-message-close-hover-color:pink;
}
.vk-message {
  width: fit-content;
  max-width: calc(100% - 32px);
  box-sizing: border-box;
  position: fixed;
  left: 50%;
  top: 20px;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  .vk-message__content {
    overflow-wrap: anywhere;
  }
  &.is-close .vk-message__content {
    padding-right: 30px;
  }
  .vk-message__close {
    display: flex;
    align-items: center;
  }
  .vk-message__close svg {
    cursor: pointer;
  }
}
@each $val in info,success,warning,danger { 
  .vk-message--$(val) {
    --vk-message-bg-color: blue;
    --vk-message-border-color: red;
    --vk-message-text-color: yellow;
    .vk-message__close {
      --vk-icon-color: yellow;
    }
  }
}
.vk-message.fade-up-enter-from,
.vk-message.fade-up-leave-to {
  opacity: 0;
  transform: translate(-50%, -100%);
}
